
<!--Visualforce page which include two parts one showing the Contract then showing the related list -->
<apex:page lightningStyleSheets="true" standardController="contract"  extensions="ContractDetailPageController">
   <apex:form id="all">
        <apex:pageBlock title="Contract Details">  
            <apex:pageBlockSection columns="1" title="Contracts List" > 
                <apex:pageBlockTable value="{!Contract}" var="con">
                    <apex:column headerValue="Contract Number" value="{!con.ContractNumber}">
                    </apex:column>
                            <apex:column value="{!con.AccountId}"/>
                            <apex:column value="{!con.status}"/>
                            <apex:column value="{!con.StartDate}"/>
                            <apex:column value="{!con.EndDate}"/>
                            <apex:column value="{!con.ContractTerm}"/>
              </apex:pageBlockTable>
         </apex:pageBlockSection>  
            <apex:pageblockButtons location="top" >
            </apex:pageblockButtons>
        </apex:pageBlock>         
    </apex:form>
    <!--Out of box Related List -->  
    <!--<apex:relatedlist list="Contract_to_Clauses__r" title="Contract to Clause" rendered="{!$ObjectType.Contract_to_Clause__c.accessible}"/>-->
    
    <apex:form >
         <apex:pageBlock title="Contract to Clause" >         
               <apex:pageMessages />
             <apex:pageBlockSection columns="1"  title="Contract to Clause List" id="contracTOclause_list" > 
                  <apex:pageBlockTable value="{!ContractToClauseList}" var="c">
                      <apex:column value="{!c.Name}"/>
                     <apex:column >
                          <apex:facet name="header"> Action</apex:facet>    
                          <apex:commandLink action="{!deleteC}" value="Delete">
                              <apex:param name="cId2" value="{!c.id}"/>   
                         </apex:commandLink> 
                      </apex:column>      
                   </apex:pageBlockTable>
             </apex:pageBlockSection>          
               <apex:pageBlockButtons location="top">
               <apex:commandButton action="{!newrecords}" value="New">  
                   </apex:commandButton>
               </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>
                                        
 	 
