<!--Visualforce page which include two parts one showing the Contract then showing the related list -->
<apex:page lightningStyleSheets="true" standardController="contract" extensions="contractListOnly"> 
    <apex:form >
        <apex:pageBlock title="Contract Details">  
            <apex:pageBlockSection columns="1" title="Contracts List" id="Contract_list"> 
                <apex:pageBlockTable value="{!Contract}" var="con">
                    <apex:column >
                      </apex:column>
                       <apex:column headerValue="Contract Number"  >
                           <apex:commandLink action="{!contClicked}" value="{!con.ContractNumber}" id="theCommandLink" reRender="true"> 
                               <apex:param name="id" value="{!con.id}" id="param1" assignTo="{!selectedCont}" />
                         </apex:commandLink>
                         </apex:column>
                         <apex:column value="{!con.AccountId}"/>
                         <apex:column value="{!con.status}"/>
                         <apex:column value="{!con.StartDate}"/>
                         <apex:column value="{!con.EndDate}"/>
                         <apex:column value="{!con.ContractTerm}"/>
                                
                </apex:pageBlockTable>
         </apex:pageBlockSection>  
           
        </apex:pageBlock>         
    </apex:form>
</apex:page>
               